@model IEnumerable<ExpinseMangament.Models.Category>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="AddOrUpdate" asp-controller="Categories">Click me to Add or Update</a>
</p>
<h1>Index</h1>
<div class="row">
    <div class=" col-md-7">
        <ejs-grid id="category" dataSource="@Model" gridLines="None" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pagesize="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headertext="Category" field="Title"></e-grid-column>
                <e-grid-column headertext="Icon" field="Icon"></e-grid-column>
                <e-grid-column headertext="Type" template="#typeclmtemplte"></e-grid-column>
                <e-grid-column headertext="Action" template="#actionTemplate" width="80px"></e-grid-column>
            </e-grid-columns>

        </ejs-grid>

    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center " style="background-color:#212b36">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>

</div>
<script id="typeclmtemplte" type="text/x-template">
    ${if (Type == "Income")} <!-- Check if Type is "Income" -->
        <span class="badge bg-success">${Type}</span> <!-- Display a success badge -->
    ${else}
        <span class="badge bg-danger">${Type}</span> <!-- Display a danger badge -->
    ${/if}
</script>


<script id="actionTemplate" type="text/x-template">
    <div class="d-felx flex-row justify-content-start">
                <a class="btn btn-sm a-btn-action" href="/Categories/AddOrUpdate/${Id}">
                    <i class="fa-solid fa-pen fa-lg"></i>
                </a>
               <form  action="/Categories/Delete/2" method="post">
                   @Html.AntiForgeryToken()
                  <button type="submit" class="btn btn-sm btn-link a-btn-action">
                     
                    <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                  </button>
                </form>

    </div>

</script>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                 <a asp-action="AddOrUpdate" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@